@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Overused Grotesk";
  src: url("https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGroteskRoman-VF.ttf");
  font-weight: 300 900;
}

:root {
  color-scheme: light dark;

  --color-primary: light-dark(#3a3a3a, #e5e5e5);
  --color-secondary: light-dark(#6f6f6f, #a0a0a0);
  --color-tertiary: light-dark(#707070, #8f8f8f);
  --color-bg: light-dark(#fff, #1a1a1a);

  --font-primary: "Overused Grotesk";
  --font-secondary: "Inter";
}

/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-primary), sans-serif;

  display: flex;
  flex-direction: column;

  margin: 0px auto 0px;
  padding: 0px 10px;
  max-width: 650px;

  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: var(--font-secondary), sans-serif;
  line-height: 1.2;
  margin-bottom: 28px;
}

h1, h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

a {
  text-underline-offset: 2.5px;
}

main {
  flex: 1 0 auto;
  padding: 128px 0;
}

.prose {
  margin-bottom: 28px;
}
