---
import Column from '@components/Column.astro';
import Footer from '@components/Footer.astro';
import GridAutoFill from '@components/GridAutoFill.astro';
import Project from '@components/Project.astro';
import '@styles/global.css';

const pageTitle = 'Samuel Duval';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <main>
      <h1>{pageTitle}</h1>
      <div class="prose">
        <span><em>Welcome</em> aboard.</span>
      </div>

      <GridAutoFill>
        <Column title="Projects">
          <Project
            title="Astro Portfolio"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
            url="/projects/astro-portfolio"
            external
          />
          <Project
            title="Astro Blog"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
            url="/projects/astro-blog"
          />
          <Project
            title="Astro Website"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
            url="/projects/astro-website"
          />
        </Column>

        <Column title="Writings">
          <Project
            title="Building a blog with Astro"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
            url="/writings/building-a-blog-with-astro"
          />

          <Project
            title="All writing"
            description="Infrequent thoughts on code."
            url="/writings"
          />
        </Column>

        <Column title="Column 3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </Column>
      </GridAutoFill>

      <h2>Now</h2>
      <p>Let's build something.</p>

      <h2>Connect</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </main>

    <Footer />
  </body>
</html>
