---
import '@styles/global.css';

const { title, url } = Astro.props;
---

<nav class="back-link">
  <a href={url}>
    <div class="title-container">
      <svg
        id="arrow-left"
        viewBox="0 0 24 24"
        width="20"
        height="20"
        fill="none"
        transform="rotate(270 0 0)"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m19 15.477-.02-9.672a.802.802 0 0 0-.218-.577c-.145-.152-.34-.228-.587-.228H8.499a.751.751 0 0 0-.777.76c0 .199.076.371.227.517.15.145.326.218.525.218h3.733l4.52-.129-1.728 1.54-9.767 9.783a.692.692 0 0 0-.232.518c0 .205.078.387.235.545a.74.74 0 0 0 .542.237.73.73 0 0 0 .527-.224l9.775-9.78 1.544-1.727-.143 4.188v4.065c0 .199.075.376.225.531.15.155.327.232.531.232.202 0 .38-.076.534-.228a.768.768 0 0 0 .23-.569Z"
          fill="#000"></path>
      </svg>
      <span class="title"><em>{title}</em></span>
    </div>
  </a>
</nav>

<style>
  a {
    font-family: var(--font-tertiary);
    font-size: 1.063rem;

    text-decoration: none;
  }

  .back-link {
    position: sticky;
    grid-column: 1;
    top: var(--page-top);

    z-index: 1;
  }

  /* On mobile, remove fixed positioning */
  @media (max-width: 768px) {
    .back-link {
      position: block;
      margin-bottom: 42px;
    }
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    vertical-align: bottom;
    line-height: 28px;
  }

  .title {
    font-weight: 500;
    transform: translateY(2px);
  }

  svg path {
    fill: var(--color-primary);
  }
</style>
