---
import '@styles/global.css';

const { title } = Astro.props;
---

<div>
  <h2>{title}</h2>
  <slot />
</div>

<style>
  div {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-secondary);
  }

  ul {
    list-style: none;
    padding: 0;
  }
</style>
