<section>
  <h2>Contact</h2>
  <p>
    Contactez moi sur <a href="mailto:mail@samuelduval.me?subject=Bonjour ! 👋"
      >mail@samuelduval.me</a
    > ou <a href="https://www.linkedin.com/in/duval-samuel/" target="_blank">LinkedIn</a>. Retrouvez
    tous mes projets sur <a href="https://github.com/Sov3rain" target="_blank">GitHub</a>.
  </p>
</section>
