---
import '@styles/global.css';
---

<footer>
  <span>Made with Astro</span>
  <span>2025</span>
</footer>

<style>
  footer {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px 0px;
    padding-top: 10px;

    font-family: "Overused Grotesk";
    font-size: 14px;
    font-weight: 400;
    
    color: var(--color-tertiary);
    
    border-top: 1px solid var(--color-tertiary);
  }
</style>
