---
import '@styles/global.css';
---

<footer>
  <div>
    <span><em>“La simplicité est la sophistication ultime”</em></span>
    <span>© 2025</span>
  </div>
</footer>

<style>
  div {
    display: flex;
    justify-content: space-between;
    width: var(--content-width);

    margin: 0 24px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc(var(--body-margins-left-right) + 100% + var(--body-margins-left-right));
    min-height: 48px;

    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 400;

    color: var(--color-underline);

    border-top: 1px solid var(--color-border);
  }
</style>
