---
import '@styles/global.css';
---

<footer>
  <div>
    <span>© 2025 · Samuel Duval</span>
  </div>
</footer>

<style>
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  footer {
    position: relative;
    width: calc(var(--body-margins-left-right) + 100% + var(--body-margins-left-right));
    min-height: 48px;

    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 400;

    color: var(--color-tertiary);

    border-top: 1px solid var(--color-border);
  }
</style>
