<section>
  <h2>Maintenant</h2>
  <p>
    J'essaie tant bien que mal de faire disparaître ma
    <em>
      <a href="https://www.urbandictionary.com/define.php?term=Pile+of+shame" target="_blank">
        Pile of Shame
      </a>
    </em>
    de figurines depuis le début de l'année.
  </p>
</section>
