<section>
  <h2>Maintenant</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas tempora cupiditate fugiat
    delectus accusantium officia neque tempore! Sed dolorem quasi adipisci officia porro, molestiae
    vitae, ratione, quod repellat suscipit quas?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas tempora cupiditate fugiat
    delectus accusantium officia neque tempore! Sed dolorem quasi adipisci officia porro, molestiae
    vitae, ratione, quod repellat suscipit quas?
  </p>
  <p>
    J'essaie tant bien que mal de faire disparaître ma
    <em>
      <a href="https://www.urbandictionary.com/define.php?term=Pile+of+shame" target="_blank">
        Pile of Shame
      </a>
    </em>
    de figurines depuis le début de l'année.
  </p>
</section>
