---
import '@styles/global.css';
---

<section>
  <div>
    <h1>Samuel Duval</h1>
    <p>
      Développeur 3D à Nantes, France. Féru d'informatique en général. Actuellement Tech Lead
      chez <a href="https://www.wonder-partners.com/" target="_blank">Wonder Partner's</a>.
    </p>
    <p>
      Par le passé, j'ai réalisé plusieurs projets ludo‑éducatifs chez <a
        href="https://ohrizon.com/"
        target="_blank"
      >
        Ohrizon
      </a>. J'ai étudié l'ingénierie du virtuel et de l'innovation au sein de <a
        href="https://artsetmetiers.fr"
        target="_blank"
        >l'Ecole nationale supérieure d'Arts et Métiers
      </a>.
    </p>
  </div>
</section>

<style>
  div {
    margin-bottom: 28px;
  }

  h1,
  span {
    color: var(--color-primary);
  }

  h1 {
    font-size: 1rem; /* Explicit font-size to prevent future browser changes */
  }
</style>
