---
import '@styles/global.css';

const pageTitle = 'Samuel Duval';
---

<section>
  <div>
    <h1>{pageTitle}</h1>
    <p>
      <em>Lorem ipsum</em>, dolor sit amet consectetur adipisicing elit. Voluptas tempora cupiditate fugiat
      delectus accusantium officia neque tempore! Sed dolorem quasi adipisci officia porro, molestiae
      vitae, ratione, quod repellat suscipit quas?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</section>

<style>
  div {
    margin-bottom: 28px;
  }

  h1,
  span {
    color: var(--color-primary);
  }
</style>
