---
import '@styles/global.css';
---

<section>
  <div>
    <h1>Samuel Duval</h1>
    <p>
      Développeur 3D, peintre et modéliste. Passionné d'informatique en général. Basé à
      Nantes, France. Actuellement Tech Lead chez <a
        href="https://www.wonder-partners.com/"
        target="_blank">Wonder Partner's</a
      >.
    </p>
    <p>
      Par le passé, j'ai réalisé plusieurs projets ludo‑éducatifs chez <a
        href="https://ohrizon.com/"
        target="_blank">Ohrizon</a
      >.
    </p>
  </div>
</section>

<style>
  div {
    margin-bottom: 28px;
  }

  h1,
  span {
    color: var(--color-primary);
  }
</style>
