---
import GridAutoFill from './GridAutoFill.astro';
import GridColumn from './GridColumn.astro';
import GridItem from './GridItem.astro';
---

<section>
  <GridAutoFill>
    <GridColumn title="Projets">
      <GridItem
        title="Astro Portfolio"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
        url="https://www.example.com/"
        external
      />
      <GridItem
        title="Astro Blog"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
        url="/projects/astro-blog"
      />
      <GridItem
        title="Astro Website"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
        url="/projects/astro-website"
      />
    </GridColumn>

    <GridColumn title="Articles">
      <GridItem
        title="Refonte 2025"
        description="Simplicité et maintenabilité."
        url="/writings/building-a-blog-with-astro"
      />

      <GridItem title="Tous les articles" description="Réflexions irrégulières autour du code." url="/writings" />
    </GridColumn>

    <GridColumn title="Building" />
  </GridAutoFill>
</section>
