---
import GridAutoFill from './GridAutoFill.astro';
import GridColumn from './GridColumn.astro';
import GridItem from './GridItem.astro';
---

<section>
  <GridAutoFill>
    <GridColumn title="Projets">
      <GridItem
        title="PocketBase Unity"
        description="SDK Unity pour PocketBase."
        url="https://github.com/Sov3rain/pocketbase-unity"
        external
      />
      <GridItem
        title="Messager"
        description="Système de messagerie en mémoire pour Unity."
        url="https://github.com/Sov3rain/Messager"
        external
      />
      <GridItem
        title="AR Button"
        description="Réalité augmentée native sur le web."
        url="https://github.com/wonder-partners/ar-button"
        external
      />
    </GridColumn>

    <GridColumn title="Articles">
      <GridItem
        title="Refonte 2025"
        description="Simplicité et maintenabilité."
        url="/posts/refonte-2025"
      />

      <GridItem
        title="Tous les articles"
        description="Réflexions irrégulières autour du code."
        url="/posts"
      />
    </GridColumn>

    <GridColumn title="Créations" />
  </GridAutoFill>
</section>
